
body {
    font-family: sans-serif;
    background: #111;
    color: #eee;
    margin: 0;
    padding: 0;
}
header {
    background: #222;
    padding: 2rem;
    text-align: center;
}
footer {
    background: #111;
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
    color: #888;
}
nav a {
    color: #ccc;
    margin: 0 10px;
    text-decoration: none;
}
